<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./images/favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> by rajat-->

    <!-- Custom styles for this template -->
    <link href="./dist/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script> by rajat-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AWS Chatbot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="active"><a href="covid_info.html">Covid Information</a></li>
                <!--<li><a href="#contact">Contact</a></li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<h1 class="container">Covid-19 Statistics</h1>
<div id="app" class="container">
    <table>
        <tr>
            <th>Country</th>
            <th>Contact</th>
            <th>Total Cases</th>
            <th>Total Deaths</th>
            <th>Recovered Cases</th>
            <th>Active Cases</th>
            <th>Total Tests</th>
            <th>Today Cases </th>
            <th>TodayDeaths </th>
            <th>Last Updated </th>
        </tr>
        <% html.forEach(function(r) { %>
        <tr>
            <th><%= r.country %></th>
            <th><img src=<%= r.countryInfo.flag %> style="width:4em; height:3em;"></th>
            <th><%= r.cases %></th>
            <th><%= r.deaths %></th>
            <th><%= r.recovered %></th>
            <th><%= r.active %></th>
            <th><%= r.tests %></th>
            <th><%= r.todayCases %></th>
            <th><%= r.todayDeaths %></th>
            <% var d = new Date(Date.now());
               var date_string= d.toLocaleString('en-GB')%>
            <th><%= date_string  %></th>

        </tr>

        <% }); %>
    </table>

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./dist/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="./js/ApiCall.js"></script>-->
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.59.0.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> by rajat-->

</body>
</html>